google_images*/
deep_features*/
tags_node_data*/
tags_way_data*/
dist/
caffenet/
*deep_features_bvlc*/
*_test/
*_test*
*tiles/
*.json
*.h5
slice*.dat
slice*.txt
.ipynb_checkpoints/
image_list.txt
*.pkl
*.caffemodel
*.binaryproto
*.pyc
*.png
*.ipynb
*.txt
